.vue3-marquee {
	border-top: var(--bonjol-root-border) solid var(--bonjol-color-border);
	border-bottom: var(--bonjol-root-border) solid var(--bonjol-color-border);
	padding: 12px 0;
	overflow: hidden;

	div {
		@apply text-white text-2xl flex flex-nowrap items-center w-full h-[32px];

		text-shadow: 1px 1px var(--bonjol-color-border), 1px -1px var(--bonjol-color-border),
			-1px 1px var(--bonjol-color-border), -1px -1px var(--bonjol-color-border);

		span.star {
			font-size: 3em;
			line-height: 12px;
			margin-top: 32px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
