@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
	font-family: var(--bonjol-root-font-family);
}

main {
	background-color: var(--bonjol-color-background);
	background-size: 50px 50px;
	background-position: -25px -25px;
	background-image: linear-gradient(to right, var(--bonjol-color-line) 2px, transparent 2px),
		linear-gradient(to bottom, var(--bonjol-color-line) 2px, transparent 2px);
}

.supper-title {
	text-shadow: 5px 5px var(--bonjol-color-border), 2px 2px var(--bonjol-color-border),
		2px -2px var(--bonjol-color-border), -2px 2px var(--bonjol-color-border),
		-2px -2px var(--bonjol-color-border);
}
